node-red_flow/Moisture.txt
[{"id":"a9133c2e9ca70dc2","type":"tab","label":"Flow 4","disabled":false,"info":"","env":[]},{"id":"e5af0b11a11750c7","type":"mqtt in","z":"a9133c2e9ca70dc2","name":"","topic":"iot/moisture/value","qos":"2","datatype":"auto-detect","broker":"mqtt_broker","nl":false,"rap":true,"rh":0,"inputs":0,"x":340,"y":160,"wires":[["ce5ea23366f8231c"]]},{"id":"ce5ea23366f8231c","type":"ui_gauge","z":"a9133c2e9ca70dc2","name":"","group":"530d58e9d7b9e9ce","order":3,"width":0,"height":0,"gtype":"gage","title":"Soil Moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"75","diff":false,"className":"","x":630,"y":160,"wires":[]},{"id":"11899a1238d8f236","type":"ui_switch","z":"a9133c2e9ca70dc2","name":"","label":"Pump","tooltip":"","group":"49054df0632d220d","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"iot/moisture/setPump","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":170,"y":400,"wires":[["0992cf2998fa35b0","4f39ed1555531ee0"]]},{"id":"0992cf2998fa35b0","type":"mqtt out","z":"a9133c2e9ca70dc2","name":"","topic":"iot/moisture/setPump","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"mqtt_broker","x":600,"y":400,"wires":[]},{"id":"a65b068258f15392","type":"mqtt in","z":"a9133c2e9ca70dc2","name":"","topic":"iot/moisture/pumpState","qos":"2","datatype":"auto-detect","broker":"mqtt_broker","nl":false,"rap":true,"rh":0,"inputs":0,"x":360,"y":260,"wires":[["2c26f46feb9a4516"]]},{"id":"2c26f46feb9a4516","type":"ui_text","z":"a9133c2e9ca70dc2","group":"530d58e9d7b9e9ce","order":4,"width":0,"height":0,"name":"","label":"Pump State","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":630,"y":260,"wires":[]},{"id":"4f39ed1555531ee0","type":"ui_dropdown","z":"a9133c2e9ca70dc2","name":"","label":"Mode select","tooltip":"","place":"Select option","group":"49054df0632d220d","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Auto","value":"auto","type":"str"},{"label":"Manual","value":"manual","type":"str"}],"payload":"","topic":"iot/moisture/setMode","topicType":"msg","className":"","x":330,"y":480,"wires":[["68242824110a5fbb"]]},{"id":"68242824110a5fbb","type":"mqtt out","z":"a9133c2e9ca70dc2","name":"","topic":"iot/moisture/setMode","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"mqtt_broker","x":600,"y":480,"wires":[]},{"id":"232a3c016f76dcd1","type":"mqtt in","z":"a9133c2e9ca70dc2","name":"","topic":"iot/moisture/mode","qos":"2","datatype":"auto-detect","broker":"mqtt_broker","nl":false,"rap":true,"rh":0,"inputs":0,"x":350,"y":340,"wires":[["a01a8e035b68754e"]]},{"id":"a01a8e035b68754e","type":"ui_text","z":"a9133c2e9ca70dc2","group":"530d58e9d7b9e9ce","order":4,"width":0,"height":0,"name":"","label":"Mode","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":610,"y":340,"wires":[]},{"id":"mqtt_broker","type":"mqtt-broker","name":"EMQX","broker":"o06160ee.ala.asia-southeast1.emqxsl.com","port":"8883","tls":"tls_config","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"5","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"530d58e9d7b9e9ce","type":"ui_group","name":"Moisture","tab":"d6321b746a7d6ee4","order":2,"disp":true,"width":6,"collapse":false,"className":""},{"id":"49054df0632d220d","type":"ui_group","name":"Moisture control","tab":"d6321b746a7d6ee4","order":6,"disp":true,"width":6,"collapse":false,"className":""},{"id":"tls_config","type":"tls-config","name":"EMQX TLS","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"emqx_ca.crt.crt","servername":"","verifyservercert":true,"alpnprotocol":""},{"id":"d6321b746a7d6ee4","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"f1112ec00d80089c","type":"global-config","env":[],"modules":{"node-red-dashboard":"3.6.6"}}]