node-red_flow/RFID.txt
[{"id":"e1a30d1f154f8683","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"9788ab5fdf16b119","type":"mqtt in","z":"e1a30d1f154f8683","name":"","topic":"iot/door/status","qos":"2","datatype":"auto-detect","broker":"mqtt_broker","nl":false,"rap":true,"rh":0,"inputs":0,"x":330,"y":580,"wires":[["a7e05dfc51cc12c2"]]},{"id":"e5783b298ff0865b","type":"mqtt out","z":"e1a30d1f154f8683","name":"","topic":"iot/door/cmd","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"mqtt_broker","x":550,"y":480,"wires":[]},{"id":"4a3432de437693c0","type":"ui_switch","z":"e1a30d1f154f8683","name":"","label":"Door button","tooltip":"","group":"8536f19bffcfa26b","order":1,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"iot/door/cmd","topicType":"msg","style":"","onvalue":"open","onvalueType":"str","onicon":"","oncolor":"","offvalue":"close","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":330,"y":480,"wires":[["e5783b298ff0865b"]]},{"id":"a7e05dfc51cc12c2","type":"ui_text","z":"e1a30d1f154f8683","group":"8536f19bffcfa26b","order":2,"width":"0","height":"0","name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":530,"y":580,"wires":[]},{"id":"mqtt_broker","type":"mqtt-broker","name":"EMQX","broker":"o06160ee.ala.asia-southeast1.emqxsl.com","port":"8883","tls":"tls_config","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"5","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"8536f19bffcfa26b","type":"ui_group","name":"Door control","tab":"d6321b746a7d6ee4","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"tls_config","type":"tls-config","name":"EMQX TLS","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"emqx_ca.crt.crt","servername":"","verifyservercert":true,"alpnprotocol":""},{"id":"d6321b746a7d6ee4","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"028aefe43305278f","type":"global-config","env":[],"modules":{"node-red-dashboard":"3.6.6"}}]