node-red_flow/Temp.txt
[{"id":"2d7833052aa7033e","type":"tab","label":"Temp Control","disabled":false,"info":""},{"id":"5c9862fe0f3a37dd","type":"mqtt in","z":"2d7833052aa7033e","name":"Temp In","topic":"iot/temp/value","datatype":"auto","broker":"mqtt_broker","inputs":0,"x":320,"y":100,"wires":[["b612fa9e6f289062"]]},{"id":"b612fa9e6f289062","type":"ui_gauge","z":"2d7833052aa7033e","group":"ui_group_main","order":1,"gtype":"gage","title":"Temperature (°C)","label":"°C","format":"{{value}}","min":0,"max":50,"colors":["#00b500","#e6e600","#ca3838"],"x":560,"y":100,"wires":[]},{"id":"7dd237106e08a436","type":"mqtt in","z":"2d7833052aa7033e","name":"Humidity In","topic":"iot/temp/humi","datatype":"auto","broker":"mqtt_broker","inputs":0,"x":330,"y":160,"wires":[["9946f3b7c9251043"]]},{"id":"9946f3b7c9251043","type":"ui_gauge","z":"2d7833052aa7033e","group":"ui_group_main","order":2,"gtype":"gage","title":"Humidity (%)","label":"%","format":"{{value}}","min":0,"max":100,"colors":["#00b500","#e6e600","#ca3838"],"x":560,"y":160,"wires":[]},{"id":"de76b6da543c8227","type":"mqtt in","z":"2d7833052aa7033e","topic":"iot/temp/fanState","datatype":"auto","broker":"mqtt_broker","inputs":0,"x":330,"y":220,"wires":[["e060bc269e59f179"]]},{"id":"e060bc269e59f179","type":"ui_text","z":"2d7833052aa7033e","group":"ui_group_main","order":3,"label":"Fan State","format":"{{msg.payload}}","x":560,"y":220,"wires":[]},{"id":"1b6d4296d7f8151a","type":"ui_switch","z":"2d7833052aa7033e","label":"Fan","group":"ui_group_control","order":2,"topic":"","onvalue":"1","offvalue":"0","x":220,"y":380,"wires":[["75e3b74e6cf7f7c1","259f2ded4c98208c"]]},{"id":"75e3b74e6cf7f7c1","type":"mqtt out","z":"2d7833052aa7033e","topic":"iot/temp/setFan","broker":"mqtt_broker","x":620,"y":380,"wires":[]},{"id":"5c1d5f6347680ac9","type":"mqtt in","z":"2d7833052aa7033e","name":"","topic":"iot/temp/mode","qos":"2","datatype":"auto-detect","broker":"mqtt_broker","nl":false,"rap":true,"rh":0,"inputs":0,"x":320,"y":300,"wires":[["dd1f89bc31ce1a66"]]},{"id":"dd1f89bc31ce1a66","type":"ui_text","z":"2d7833052aa7033e","group":"ui_group_main","order":7,"width":0,"height":0,"name":"","label":"Mode","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":560,"y":300,"wires":[]},{"id":"259f2ded4c98208c","type":"ui_dropdown","z":"2d7833052aa7033e","name":"","label":"Mode Select","tooltip":"","place":"Select option","group":"ui_group_control","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Auto","value":"auto","type":"str"},{"label":"Manual","value":"manual","type":"str"}],"payload":"","topic":"iot/temp/setMode","topicType":"msg","className":"","x":400,"y":460,"wires":[["0258d0f8c5524b3a"]]},{"id":"0258d0f8c5524b3a","type":"mqtt out","z":"2d7833052aa7033e","name":"","topic":"iot/temp/setMode","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"mqtt_broker","x":660,"y":460,"wires":[]},{"id":"mqtt_broker","type":"mqtt-broker","name":"EMQX","broker":"o06160ee.ala.asia-southeast1.emqxsl.com","port":"8883","tls":"tls_config","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"5","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"ui_group_main","type":"ui_group","name":"Temp & Humi","tab":"d6321b746a7d6ee4","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"ui_group_control","type":"ui_group","name":"Fan control","tab":"d6321b746a7d6ee4","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"tls_config","type":"tls-config","name":"EMQX TLS","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"emqx_ca.crt.crt","servername":"","verifyservercert":true,"alpnprotocol":""},{"id":"d6321b746a7d6ee4","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"045626638f4d7574","type":"global-config","env":[],"modules":{"node-red-dashboard":"3.6.6"}}]